.btn {
    cursor: pointer;
    position: relative;
    background-color: $color-gold;
    border: none;
    padding: 1.2rem 6rem 1.3rem 3rem;
    font-size: 1.6rem;
    font-family: $font-primary;
    font-weight: 700;
    color: #fff;

    &:hover .btn__arrow {
        right: 2.2rem;
    }

    &__arrow {
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 7px;
        font-size: 1.6rem;
        transition: 0.2s all;

        &-small {
            right: 1rem;
        }
    }

    &__small {
        text-decoration: none;
        color: inherit;
        display: inline;
        background-color: transparent;
        text-align: center;
        padding: 8px 3.5rem 8px 0;
        border-bottom: 3px solid $color-gold;
        transition: 0.2s all;

        &:hover {
            color: $color-gold;
        }

        &:hover .btn__arrow-small {
            right: 3px;
        }
    }
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    padding: 1.9rem 4rem;
    margin-top: 1.5rem;
    position: relative;
    text-decoration: none;
    color: $color-black;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 100;
    font-size: 2.2rem;

    &:hover {
        & .button__span {
            position: absolute;
            background-color: $color-gold;

            &:nth-child(1) {
                top: 0;
                left: 0%;
                height: 1px;
                width: 100%;
            }

            &:nth-child(2) {
                top: 0;
                right: 0;
                height: 50%;
                width: 1px;
            }

            &:nth-child(3) {
                top: 99%;
                left: 0;
                height: 1px;
                width: 86%;
            }

            &:nth-child(4) {
                top: 0;
                left: 0;
                height: 100%;
                width: 1px;
            }
        }
    }

    &__span {
        position: absolute;
        background-color: $color-gold;
        transition: 0.3s ease-in-out;

        &:nth-child(1) {
            top: 0;
            left: 14%;
            height: 1px;
            width: 86%;
        }

        &:nth-child(2) {
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
        }

        &:nth-child(3) {
            top: 99%;
            left: 0;
            height: 1px;
            width: 100%;
        }

        &:nth-child(4) {
            top: 50%;
            left: 0;
            height: 50%;
            width: 1px;
        }
    }
}