.card {
    position: relative;
    width: 33%;
    float: left;
    padding: 1rem;
    // &:hover &__img:not(:hover) {
    //     filter: brightness(50%);
    // }

    &::before {
        background: $color-grey none repeat scroll 0 0;
        content: "";
        height: 84%;
        left: 0;
        position: absolute;
        top: 30px;
        width: 82%;
        z-index: -1;
    }

    &::after {
        background: $color-gold none repeat scroll 0 0;
        bottom: 20px;
        content: "";
        height: 100px;
        left: 52px;
        position: absolute;
        width: 3px;
    }
    
    &__img {
        width: 85%;
        transition: 0.3s all;
    
        &:hover {
            filter: brightness(50%);
        }
    }
    
    &__text {
        font-size: 2rem;
        margin-top: 5rem;
    }
}
