.form {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 65rem;
    padding: 3rem;
    border: 1px solid rgb(168, 168, 168);

    @media only screen and (max-width: 106.25em) { //1700px
        width: 45rem;
    }

    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(168, 168, 168);
        padding: 1rem;
        margin: 1rem 0;
        font-size: 1.6rem;
        font-family: inherit;
        width: 55rem;

        @media only screen and (max-width: 106.25em) { //1700px
            width: 35rem;
        }
    }

    &.animated {
        opacity: 1;
    }
}