.projects {
    display: flex;
    margin-right: 2rem;

    &__item {
        display: flex;
        align-items: center;
        // justify-content: space-between;
    }

    &__info {
        padding: 0 3rem;
        max-width: 45rem;
    }

    &__img {
        width: 35rem;

        @include respond(big-desktop) {
            width: 45rem;
        }
        @media only screen and (max-width: 87.5em) { //1400px
            width: 27rem;   
        }
    }
    &__text {
        font-size: 1.6rem;
    }
}