// .section-form {
//     margin-top: 17rem;
//     width: 100%;
//     height: 450px;
//     background: linear-gradient(rgba(189, 189, 189, 0.35), rgba(228, 228, 228, 0.35)), url(../img/fixed.png);
//     background-attachment: fixed;
//     background-size: cover;
//     background-position-x: 50%;
// }

.section-video {
    width: 100%;
    height: 70rem;
    overflow: hidden;
    position: relative;
}

.section-contact {
    margin-top: 14rem;
    background-color: $color-grey;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35rem;

    @media only screen and (max-width: 106.25em) { //1700px
        padding: 0 30rem; 
    }
    @media only screen and (max-width: 88.125em) { //1300px
        padding: 0 20rem;
    }
    @include respond(tab-land) {
        padding: 0 7.5rem;
    }
    @media only screen and (max-width: 59.357em) { //950px
        padding: 0 2rem;
    }
}

.section-projects {
    padding: 8em 4rem;
    // background: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.78)), url(../img/honey2.png);
    // background-attachment: fixed;
    // // background-size: 150px;
    // background-size: cover;
}

.js--card-right,
.js--card-up,
.js--card-left,
.js--service-left,
.js--service-right,
.js--service-left2 {
    opacity: 0;
    // -webkit-animation-duration: 1s;
    // animation-duration: 1s;
}

.js--card-right.animated,
.js--card-up.animated,
.js--card-left.animated,
.js--service-left.animated,
.js--service-right.animated,
.js--service-left2.animated {
    opacity: 1;
}