.section-video {
    width: 100%;
    overflow: hidden;
}

.section-contact {
    margin-top: 24rem;
    background-color: $color-grey;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25rem;

    @media only screen and (max-width: 88.125em) { //1300px
        padding: 0 20rem;
    }
    @include respond(tab-land) {
        padding: 0 7.5rem;
        margin-top: 20rem;
    }
    @media only screen and (max-width: 59.357em) { //950px
        padding: 0 2rem;
        margin-top: 16rem;
    }
    @include respond(phone) {
        padding: 0 3rem;
        justify-content: center;
    }

    & > h2 {
        @include respond(phone) {
            display: none;
        }
    }

    &__mobile {
        display: none;
        @include respond(phone) {
            display: block;
        }
    }
    @include respond(phone-small) {
        padding: 0;
    }
}

.section-projects {
    max-width: 1680px;
    margin: 0 auto;
}

.section-about {
    max-width: 1680px;
    padding: 0 8rem;
    margin: 0 auto;

    @include respond(tab-land) {
        padding: 0 4rem;
    }
    @include respond(phone) {
        padding: 0 3rem;
    }
}

.js--card-right,
.js--card-up,
.js--card-left,
.js--service-left,
.js--service-right,
.js--service-left2 {
    opacity: 0;
}

.js--card-right.animated,
.js--card-up.animated,
.js--card-left.animated,
.js--service-left.animated,
.js--service-right.animated,
.js--service-left2.animated {
    opacity: 1;
}