.section-cards {
    &__cards {
        @include clearfix;
    }
}

.section-form {
    margin-top: 17rem;
    width: 100%;
    height: 450px;
    background: linear-gradient(rgba(189, 189, 189, 0.35), rgba(228, 228, 228, 0.35)), url(../img/fixed.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
}

.section-contact {
    margin-top: 22rem;
    background-color: $color-grey;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rem;
}

.js--wp-1,
.js--wp-2,
.js--wp-3 {
	opacity: 0;
	// -webkit-animation-duration: 1s;
	// animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
	opacity: 1;
}