.footer {
    // height: 200px;
    padding: 2rem 16rem 0;
    font-size: 1.7rem;

    &__contact {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 22rem;
        margin-right: 2rem;

        @include respond(big-desktop) {
            height: 25rem;
        }
        @include respond(tab-land) {
            height: 18rem;
        }
    }
}